{
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@global": "./src/_global",
        "@components": "./src/components",
        "@pages": "./src/pages",
        "underscore": "lodash"
      }
    }]
  ]
}
